@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A540F3;
  --primary-dark: #2D264B;
  --primary-darken: #5A0CFF;
  --background: #F6F7F9;
  --foreground: #171717;
}

body {
  font-family: 'allianceMedium', Arial, Helvetica, sans-serif;
  font-size: 15px;

  color: var(--foreground);
  background: var(--background);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none;    /* Firefox */
}


