@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A540F3;
  --background: #F6F7F9;
  --foreground: #171717;
  --dark-primary: #2D264B;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  font-family: 'allianceMedium', Arial, Helvetica, sans-serif;
  font-size: 15px;

  color: var(--foreground);
  background: var(--background);
}
